body {
    background-color: #ff0000;
    /* Modifica este color por otro */
    text-align: center;
    margin: 0;
    padding: 0;
}

main,
header,
footer {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
}

article {
    background-color: #134370;
    /* Modifica este color por otro */
    padding: 20px;
    border-radius: 8px;
    margin: 20px auto;
    width: 100%;
    max-width: 800px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

p {
    color: rgb(105, 243, 25);
    /* Modifica este color por otro */
}

h1 {
    background-color: rgb(204, 59, 132);
    /* Modifica este color por otro */
}